<!doctype html>
<html ng-app="mcdatesApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div>

    <h1>msDates by Nikolay Grishkin</h1>
    <div ng-controller="McdatesController as mcdates">

        <mc-dates date-from="mcdates.dateFrom" date-to="mcdates.dateTo"></mc-dates>

        <div>
            <md-input-container>
                <label>Дата 1</label>
                <input ng-model="mcdates.dateFrom">
            </md-input-container>
            <md-input-container>
                <label>Дата 2</label>
                <input ng-model="mcdates.dateTo">
            </md-input-container>
        </div>

    </div>

</div>
</body>
</html>
